
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: aqua;
}
h1{
    color: gold;
    font-size:  30px;
}
    #firstsection{
text-align: start;

    }
ul{width: 50%;
    display: flex;
    justify-content: space-between;
    text-align: top;
}
li{
    text-decoration: none;
}
